".text.html":
	"local.xmlview":
		"prefix": "localxmlview"
		"body": """
<script id="${1:name}" type="ui5/xmlview">
\t<mvc:View
\t\tcontrollerName="local.controller.${1:name}"
\t\tdisplayBlock="true"
\t\txmlns:mvc="sap.ui.core.mvc"
\t\txmlns="sap.m">
\t\t$0
\t</mvc:View>
</script>
"""
	"local.startup":
		"prefix": "localstartup"
		"body": """
sap.ui.xmlview({ viewContent: jQuery("#${1:name}").html() })
\t.placeAt("content");
"""
	"local.controller":
		"prefix": "localcontroller"
		"body": """
sap.ui.controller("local.controller.${1:name}", {$0});
"""
	"sap.m.list":
		"prefix": "list"
		"body": """
<List id="${1:id}"
\titems="{
\t\tpath : '${2:items}'
\t}">
\t<items>
\t\t$0
\t</items>
</List>
"""
	"sap.m.standardlistitem":
		"prefix": "standardlistitem"
		"body": """
<StandardListItem
\ticon="sap-icon://${1:icon}"
\ttitle="${2:title}"
\tdescription="${3:description}" />
"""
	"sap.m.App":
		"prefix": "app"
		"body": """
<App id="${1:app}">
\t<pages>
\t\t$0
\t</pages>
</App>
"""
	"sap.m.Page":
		"prefix": "page"
		"body": """
<Page id="${1:page}"
\ttitle="${2:title}">
\t<content>
\t\t$0
\t</content>
\t<footer>
\t\t<Bar />
\t</footer>
</Page>
"""
	"sap.m.List selection":
		"prefix": "listselection"
		"body": """
mode="${1:SingleSelectMaster}"
selectionChange="${2:onSelectionChange}"
"""
	"this get view by Id":
		"prefix": "tgvbid"
		"body": """
this.getView().byId("${1:id}")$0
"""
	"sap.m.ObjectHeader":
		"prefix": "objectheader"
		"body": """
<ObjectHeader
\ticon="sap-icon://${1:icon}"
\tintro="${2:intro}"
\ttitle="${3:title}"
\tnumber="${4:number}"
\tnumberUnit="${5:numberUnit}">
\t<attributes>
\t\t<ObjectAttribute
\t\t\ttitle="${6:title}" />
\t\t\ttext="${7:text}" />
\t\t</attributes>
</ObjectHeader>
"""

