".source.js, .text.html":
	"js.ff":
		"prefix": "ff"
		"body":
			"""
			function($1) {
				$0
			}$2
			"""
	"js.fevt":
		"prefix": "fevt"
		"body":
			"""
			function(oEvent) {
				$0
			}$1
			"""
	"js.jsdec":
		"prefix": "jsdec"
		"body":
			"""
			jQuery.sap.declare("${1:identifier}");
			$0
			"""
	"js.jsreq":
		"prefix": "jsreq"
		"body":
			"""
			jQuery.sap.require("${1:identifier}");
			$0
			"""
	"js.jslog":
		"prefix": "jslog"
		"body":
			"""
			jQuery.sap.log.${1:info}("${2:logmessage}");
			$0
			"""
	"js.UIComponent":
		"prefix": "uicomponent"
		"body":
			"""
			sap.ui.core.UIComponent.extend("${1:namespace}.Component", {
				metadata : {
					name : "${2:Component Name}",
					dependencies : {
						libs : ["sap.m"]
					}
				},

				createContent : function() {
					return sap.ui.view({
						viewName : "${1:namespace}.view.${3:Main}",
						type : sap.ui.core.mvc.ViewType.XML
					});
				}
			});
			"""
	"js.controller":
		"prefix": "controller"
		"body":
			"""
			sap.ui.define([
				"sap/ui/core/mvc/Controller"
			], function(Controller) {
				"use strict";

				return Controller.extend("${1:namespace}", {
					onInit: function() {
						${2:}
					},
					onBeforeRendering: function() {

					},
					onAfterRendering: function() {

					},
					onExit: function() {

					}
				});

			});
			"""
	"js.getOwnerComponent":
		"prefix": "getOwnerComponent"
		"body":
			"""
			sap.ui.component( sap.ui.core.Component.getOwnerIdFor( this.getView() ) );
			"""
	"js.getRouter":
		"prefix": "getRouter"
		"body":
			"""
			sap.ui.core.UIComponent.getRouterFor( ${1:this} );
			"""
	"js.readOdataModel":
		"prefix": "readOdataModel"
		"body":
			"""
			${1:oDataModel}.read("${2:path}", {
			  async : true,
			  success : $.proxy(function(data, response) {
				${3:}
			  }, this),
			  error : $.proxy(function(error) {

			  })
			});
			"""
	"js.readOdataModelBatch":
		"prefix": "readOdataModelBatch"
		"body":
			"""
			 var batchOps = [];
			 batchOps.push(${1:oDataModel}.createBatchOperation("${2:path}", "GET"));
			 ${3:oDataModel}.addBatchReadOperations(batchOps);
			 ${4:oDataModel}.submitBatch(function(data) {
			   	data.__batchResponses[0].data.results.forEach(function(k){

			 	});
			 },function(error){

			 });
			"""
	"js.navTo":
		"prefix": "navTo"
		"body":
			"""
			${1:oRouter}.navTo( "${2:routePattern}", {
				${3:data}
			} );
			"""
